ErrorDocument 404 /404.php
RewriteEngine on

<IfModule mod_rewrite.c>
RewriteBase /gitproject/v4AccAdminPanel/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !=/favicon.ico

RewriteRule ^NotFound$ 404.php
RewriteRule ^Include$ Include.php

RewriteRule ^Functions$ Functions.php
RewriteRule ^Functions/$ Functions.php

RewriteRule ^Login$ index.php
RewriteRule ^Login/$ index.php

RewriteRule ^DashBoard$ dashboard.php 
RewriteRule ^DashBoard/$ dashboard.php

